body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.navbar-custom {
    background-color: #ffffff;
    /* padding-top: 30px; */
}

.navbar-custom .navbar-nav .nav-link {
    color: #02427a; /* White color for links */
}
  
.navbar-custom .navbar-nav .nav-link:hover {
    color: #1b619e; /* Light blue color on hover */
}

.navbar-top-row {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5px 10px;
}
  
#language-toggle {
    margin-right: 1rem; /* Aligns the button to the right */
}
  
.btn-outline-light:hover {
    background-color: #ffffff;
    color: #000000;
}
  
.btn-warning:hover {
    background-color: #ffc107;
    color: #212529;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #ffffff; /* Blueish background */
    color: #02427a; /* White text color */
    padding: 1rem 0; /* Reduced vertical padding for all devices */
}

.social-icons img {
    width: 32px; /* Set the size of your icons */
    height: 32px;
    margin: 0 5px; /* Reduced spacing between icons for all devices */
}

/* Styles for medium devices (tablets) and up */
@media (min-width: 768px) {
    .video_wrapper {
        position: relative;
        width: 50%;
        padding-bottom: 28.125%;
        margin: auto;
    }

    .social-icons {
        flex-direction: row; /* Stack icons horizontally */
        align-items: center; /* Center icons vertically */
        margin-top: 0; /* Remove additional top margin */
    }

    .follow-us {
        font-size: 1.5rem; /* Larger font size for 'Follow Us' */
        text-align: right; /* Align text to the far right */
        display: flex;
        flex-direction: column; /* Stack 'Follow Us' and icons vertically */
        align-items: flex-end; /* Align items to the right */
    }

    .span-follow {
        margin-right: 70px;
    }
}

/* Styles for small devices (phones) */
@media (max-width: 767.98px) {
    .video_wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin: auto;
    }

    .footer {
        padding: 0.5rem 0; /* Further reduce padding for small screens */
    }

    .social-icons {
        justify-content: center; /* Center icons horizontally */
        margin-top: 0.5rem; /* Add some top margin */
    }

    .follow-us {
        font-size: 1rem; /* Smaller font size for 'Follow Us' */
        text-align: center; /* Center text */
        align-items: center; /* Center items */
    }

    .span-follow {
        margin: 0; /* Remove additional margin */
    }

    /* Adjust column stacking for smaller screens */
    .row > [class^="col-"] {
        flex-direction: column;
        align-items: center;
    }
}