<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BG Academy</title>
  <link rel="icon" type="image/x-icon" href="/Logo.png">
  <!-- Link Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/index.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <!-- <div class="navbar-top-row d-flex justify-content-end">
        <button id="language-toggle" class="btn btn-sm btn-outline-secondary" onclick="toggleLanguage()">EN</button>
      </div> -->
      <a class="navbar-brand">
        <img src="/Logo.png" alt="Brand Logo" width="91" height="120">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Signup</button> -->
      </div>
    </div>
  </nav>

  <br>

  <div class="video_wrapper">
    <iframe src="https://www.youtube.com/embed/2MxhAs1ISJY?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

<!-- <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>© 2024 BG Academy <a style="margin-left: 20px;" href="https://maps.app.goo.gl/pS6XgbQuXsKwH1mN7" target="_blank"><img src="/Loc.png" alt="">Location</a></p>
        <p>BG Academy offers comprehensive biology instruction for students ranging from KS1 to Grade 12.</p>
      </div>
      <div class="col-md-6">
        <div class="follow-us">
          <span class="span-follow">Follow Us</span>
          <div class="social-icons">
            <a href="https://www.facebook.com/BiologyAcademy2024" target="_blank">
              <img src="/FB.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/bg_academy2024" target="_blank">
              <img src="/IG.png" alt="Instagram">
            </a>
            <a href="https://www.tiktok.com/@bg.academy.dr.ahm" target="_blank">
              <img src="/TT.png" alt="TikTok">
            </a>
            <a href="https://www.youtube.com/channel/UCcm9qQ7kn2d_9Z3ct_xke2g" target="_blank">
              <img src="/YT.png" alt="YouTube">
            </a>
            <a href="https://wa.link/s3p88m" target="_blank">
              <img src="/WA.png" alt="WhatsApp">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
    
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>